@page
@model LastHope.Pages.Staff.RentContractPages.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "_LayoutStaff";
}

<h1>Details</h1>

<div>
    <h4>RentContract</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RentContract.Value)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RentContract.Value)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RentContract.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RentContract.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RentContract.ExpiryDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RentContract.ExpiryDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RentContract.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RentContract.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RentContract.Contract)
        </dt>
        <dd class="col-sm-10">
            <a href="data:application/octet-stream;base64,@Model.RentContract.Contract" download="@Model.RentContract.Customer.Fullname .pdf">Download File</a>
            
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RentContract.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RentContract.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RentContract.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RentContract.Customer.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RentContract.Flat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RentContract.Flat.RoomNumber)
        </dd>
        <dt style="color:red">Terms</dt>
        @foreach(var term in Model.RentContract.Terms)
        {
            <dt class="col-sm-2">
                Title
            </dt>
            <dd class="col-sm-10">
                @term.Title
            </dd>
            <dt class="col-sm-2">
                Content
            </dt>
            <dd class="col-sm-10">
                @term.Content
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.RentContract?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
