@page
@model LastHope.Pages.Staff.RentContractPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RentContract[0].Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentContract[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentContract[0].ExpiryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentContract[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentContract[0].Contract)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentContract[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentContract[0].Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentContract[0].Flat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RentContract) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contract)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flat.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
