@page
@model LastHope.Pages.Staff.FlatPages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Flat</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flat.Detail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flat.Detail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flat.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flat.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flat.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flat.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flat.RoomNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flat.RoomNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flat.Building)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flat.Building.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flat.FlatType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flat.FlatType.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Flat?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
