@page
@model LastHope.Pages.Customer.BillDetailModel

@{
    ViewData["Title"] = "BillDetail";
    Layout = "_LayoutCustomer";
}

<h1>Bill Detail</h1>

<div>
    <h4>Bill</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bill.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bill.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bill.RentContractId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bill.RentContractId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bill.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bill.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bill.Value)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bill.Value)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bill.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bill.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bill.Sender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bill.Sender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bill.Receiver)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bill.Receiver)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bill.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bill.Content)
        </dd>
    </dl>
</div>

@if(Model.Bill.Status == 0)
{
    <form method="post">
        <button type="submit" class="btn btn-primary" asp-page-handler="PayBill">Pay Bill</button>
    </form>
}
else
{
    
}


<div>
    <a asp-page="./ListBill">Back to List</a>
</div>
